html {
  font-size: 16px; /* Set the base font size */
}

body {
  margin: 0;
}

.header-styles {
  display: flex;
  margin: 0 0.5rem;
  padding-top: 1rem;
  color: white;
  justify-content: space-between;
}

.header-styles h1 {
  margin-top: 0.1rem;
}

.header-styles > nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.top-common-bg {
  position: relative;
  background-image: url("../img/jumbo-bg.png");
  width: 100%;
  height: 100%;
  min-height: 420px;
  font-family: "Okra (woff2)", Helvetica, sans-serif;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.search-input {
  outline: none;
}

.search-button {
  height: 34px;
  cursor: pointer;
}

.main-content-styles {
  margin-top: 2rem;
  font-family: "Okra (woff2)", Helvetica, sans-serif;
}

.centered {
  position: absolute;
  min-width: 350px;
  text-align: center;
  color: azure;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-content-styles .centered > input {
  min-width: 310px;
  height: 30px;
  border-radius: 4px;
}

.main-content-styles .centered > h3 {
  font-size: 90px;
  margin-bottom: 0;
  font-weight: 900;
}

.main-content-styles .centered > p {
  font-size: 2rem;
}

.main-content-styles .centered > input {
  margin-bottom: 5rem;
}

.restaurant-container .restaurant-styles {
  width: 218px;
  height: 347px;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 90px;
  justify-content: center;
}

.info-container {
  padding: 1rem;
  padding-bottom: 0;
}
.img-container {
  width: 217px;
  height: 145px;
  border-radius: 10px;
}
.img-container > img {
  border-radius: 10px;
  object-fit: cover;
}
.img-container > h3 {
  margin: 0;
}

.nav-link {
  cursor: pointer;
  margin: 0 1.2rem;
  padding: 0 0.2rem;
  font-family: Okra, Helvetica, sans-serif;
}
.nav-link a {
  text-decoration: none;
  color: #fff;
}
.restaurant-link {
  text-decoration: none;
  color: black;
}

.green-logo {
  border: 3px solid green;
}

.red-logo {
  border: 3px solid red;
}

/* 
  restaurant card pe hover karne pe cursor pointer, elevation effect aana chahiye
  restaurants list jo hai wo below the jumbotron jana chahiye
  beautify all the app
  beautify the footer

*/
